---
layout: default
---

<div id="banner">
  <img src="/images/experiment.svg" />
  <div id="bannerText">
    <h1>Egiten ditudan esperimentuak ezagutu nahi dituzu?</h1>
    <p>This is my lab, where I publish my esperiments. The esperiments are free licensed,
      so copy me and all contributions are welcome! The source is <a href="https://github.com/iunetrecet/lab">here!</a></p>
  </div>
</div>

{% include nav.html %}

<ul class="posts">
  {% for post in site.posts %}
  <li class="post {{ post.category }}">
      <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"/></a>
      <div class="category {{ post.category }}"></div>
      <p class="date">{{ post.date | date: "%Y-%m-%d"  }}</p>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    </li>
  {% endfor %}
</ul>

<script src="/js/post_filter.js" type="text/javascript" charset="utf-8"></script>
